.why {
    position: relative;
    padding-bottom: 8rem;

    &__expert-title h2 {
        font: var(--title-L);

        @media (max-width: 1240px) {
            font-size: 6rem;
        }

        @media (max-width: 720px) {
            font-size: 5rem;
        }

        @media (max-width: 570px) {
            font-size: 4rem;
        }
    }

    &__item__title {
        text-transform: uppercase;
        font: var(--body-XX);
        max-width: 28rem;
        @media (max-width: 830px) {
            max-width: 22rem;
        }
        @media (max-width: 570px) {
            font-size: 2.5rem;
        }
    }

    &__item__text {
        font: var(--body-S);
        max-width: 32rem;
        @media (max-width: 915px) {
            max-width: 26rem;
        }
        @media (max-width: 570px) {
            font-size: 1.4rem;
        }
    }

    &__item_content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__item {
        display: flex;
        gap: 2.5rem;
    }

    &__item__svg {
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        align-items: center;
        display: flex;
        background-color: #F0F4FE;
        justify-content: center;
    }

    &__item__svg svg {
       width: inherit;
       fill: none;
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 7rem;
        padding-top: 7.8rem;
        column-gap: 4rem;
        @media (max-width: 790px) {
            justify-content: center;
            padding-top: 3rem;
            row-gap: 3.5rem;
        }
    }

    &__button {
        display: none;
        @media (max-width: 800px) {
            display: block;
            font: var(--other-L);
            color: #1B74E3;
            border-radius: 7px;
            border: 1px solid #1B74E3;
            padding: 2.15rem 5.6rem;
            margin: 0 auto;
            margin-top: 3rem;
        }

        @media (max-width: 360px) {
            padding: 2.15rem 2rem;
            width: 100%;
        }
    }
}