 <footer class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__content">
              <div class="footer__content-info">
                ООО «Спорт Лайн Поволжье» <span>ИНН: 5260422236 ОГРН: 1165260051835</span>
              </div>
              <ul class="footer__content-main">
                <li><a href="">Сервис</a></li>
                <li><a href="">Медиагалерея</a></li>
                <li><a href="">Контакты</a></li>
              </ul>
              <div class="footer__content-contacts">
                <div>
                  <a href=""
                    ><svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M15.014 4C8.95677 4 4.02584 8.92621 4.02364 14.9828C4.02254 16.9188 4.52967 18.8088 5.49116 20.4742L4 26L9.75623 24.64C11.3613 25.5156 13.1681 25.9753 15.0075 25.9764H15.0118C21.0679 25.9764 25.9967 21.0491 26 14.9936C26.0022 12.0577 24.8604 9.29731 22.7856 7.22051C20.7108 5.14481 17.9535 4.0011 15.014 4ZM15.0118 6.2C17.3616 6.2011 19.5699 7.11718 21.23 8.77598C22.8901 10.437 23.802 12.644 23.7998 14.9914C23.7976 19.8358 19.8567 23.7764 15.0097 23.7764C13.5432 23.7753 12.0906 23.4071 10.8112 22.7086L10.0699 22.3047L9.25129 22.498L7.08546 23.0094L7.61402 21.0457L7.85252 20.1648L7.39701 19.3742C6.62914 18.0454 6.22275 16.5261 6.22385 14.9828C6.22605 10.1406 10.168 6.2 15.0118 6.2ZM11.1249 9.9125C10.9412 9.9125 10.6442 9.98125 10.3922 10.2562C10.1403 10.5301 9.42963 11.1935 9.42963 12.5443C9.42963 13.8951 10.4137 15.2009 10.5512 15.3846C10.6876 15.5672 12.4508 18.4268 15.2417 19.5268C17.5607 20.4409 18.0317 20.2605 18.5356 20.2143C19.0394 20.1692 20.1611 19.5515 20.3899 18.9102C20.6187 18.2689 20.6192 17.7172 20.551 17.6039C20.4828 17.4895 20.2996 17.4213 20.0246 17.2838C19.7507 17.1463 18.4008 16.4835 18.1488 16.3922C17.8969 16.3009 17.7127 16.2547 17.53 16.5297C17.3474 16.8047 16.8226 17.4213 16.662 17.6039C16.5014 17.7876 16.3418 17.8123 16.0668 17.6748C15.7918 17.5362 14.9075 17.2455 13.858 16.3105C13.0417 15.5834 12.4909 14.6863 12.3303 14.4113C12.1708 14.1374 12.3153 13.987 12.4528 13.8506C12.576 13.7274 12.7257 13.5299 12.8632 13.3693C12.9996 13.2087 13.0469 13.0943 13.1382 12.9117C13.2295 12.7291 13.1828 12.568 13.1146 12.4305C13.0464 12.293 12.5122 10.9372 12.268 10.3938C12.0623 9.93725 11.845 9.92665 11.6492 9.91895C11.4897 9.91235 11.3075 9.9125 11.1249 9.9125Z"
                        fill="#1B74E3"
                      />
                    </svg>
                  </a>
                </div>
                <div>
                  <a href=""
                    ><svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.92136 14.59L9.21435 16.5655L11.2631 23.1541C11.3942 23.5761 11.9102 23.7321 12.2527 23.4521L15.2031 21.0469C15.5123 20.7949 15.9528 20.7823 16.276 21.0169L21.5975 24.8804C21.9639 25.1467 22.483 24.946 22.5749 24.5032L26.4731 5.75188C26.5734 5.26826 26.0982 4.86481 25.6377 5.04291L3.91516 13.4228C3.37909 13.6296 3.38376 14.3885 3.92136 14.59ZM10.9329 15.5139L21.2774 9.14271C21.4633 9.02855 21.6546 9.27993 21.4949 9.42802L12.9577 17.3638C12.6576 17.6431 12.4641 18.0169 12.4092 18.4226L12.1184 20.5778C12.0799 20.8655 11.6757 20.8941 11.5963 20.6156L10.4778 16.6856C10.3497 16.2374 10.5364 15.7586 10.9329 15.5139Z"
                        fill="#1B74E3"
                      />
                    </svg>
                  </a>
                </div>
                <div>
                  <a href=""
                    ><svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M25.8814 20.5497C24.9829 18.8733 22.6685 16.859 21.713 15.9825C21.4515 15.7425 21.4235 15.3273 21.6615 15.0619C23.485 13.0305 24.9434 10.6964 25.4454 9.28602C25.6669 8.66296 25.2084 8.00467 24.5624 8.00467H22.686C22.0675 8.00467 21.7055 8.23481 21.533 8.60128C20.0175 11.8207 18.7175 13.214 17.8075 14.0284C17.298 14.4845 16.5035 14.1066 16.5035 13.4126C16.5035 12.0752 16.5035 10.3466 16.5035 9.12066C16.5035 8.52612 16.0345 8.0451 15.456 8.0451L12.0281 8.00467C11.5966 8.00467 11.3501 8.51109 11.6091 8.86616L12.1751 9.70847C12.3881 10.0003 12.5031 10.3554 12.5031 10.7198L12.5001 14.513C12.5001 15.1729 11.7286 15.4953 11.2706 15.0329C9.72112 13.4685 8.37663 10.274 7.89264 8.74642C7.75264 8.30427 7.35315 8.0057 6.90015 8.00467L5.05168 8C4.35818 8 3.85119 8.68162 4.03969 9.36791C5.72867 15.5139 9.19412 21.3609 15.37 21.9948C15.9785 22.057 16.5035 21.549 16.5035 20.9203V18.9267C16.5035 18.355 16.936 17.8636 17.492 17.8491C17.5115 17.8486 17.531 17.8486 17.5505 17.8486C19.184 17.8486 21.0135 20.3133 21.6535 21.4661C21.8375 21.7978 22.1815 22 22.5535 22H25.0399C25.7654 22 26.2309 21.2023 25.8814 20.5497Z"
                        fill="#1B74E3"
                      />
                    </svg>
                  </a>
                </div>
                <div>
                  <a href=""
                    ><svg
                      width="30"
                      height="30"
                      viewBox="0 0 30 30"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M23.4976 10.4062C23.3312 9.44409 22.5383 8.74341 21.6183 8.52466C20.2414 8.21875 17.6933 8 14.9364 8C12.1811 8 9.59217 8.21875 8.2137 8.52466C7.29527 8.74341 6.50082 9.39966 6.33442 10.4062C6.16639 11.5 6 13.0312 6 15C6 16.9687 6.16639 18.5 6.3752 19.5937C6.54323 20.5559 7.33605 21.2566 8.25449 21.4753C9.71615 21.7812 12.2219 22 14.9788 22C17.7357 22 20.2414 21.7812 21.7031 21.4753C22.6215 21.2566 23.4144 20.6003 23.5824 19.5937C23.7488 18.5 23.9576 16.9243 24 15C23.9152 13.0312 23.7064 11.5 23.4976 10.4062ZM12.6819 18.0625V11.9375L17.7765 15L12.6819 18.0625Z"
                        fill="#1B74E3"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="footer__addition">
              <a class="footer__addition-download">
                Скачать реквизиты
                <div class="footer__addition-icon">
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.9643 9.25879L9.99972 12.2234L7.03516 9.25879"
                      stroke="#1B74E3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M9.99887 3.33057V12.2234"
                      stroke="#1B74E3"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M17.4209 13.7046C17.4209 13.2904 17.0851 12.9546 16.6709 12.9546C16.2567 12.9546 15.9209 13.2904 15.9209 13.7046H17.4209ZM4.08203 13.7046C4.08203 13.2904 3.74624 12.9546 3.33203 12.9546C2.91782 12.9546 2.58203 13.2904 2.58203 13.7046H4.08203ZM15.9209 13.7046C15.9209 14.9277 14.9294 15.9192 13.7064 15.9192V17.4192C15.7579 17.4192 17.4209 15.7561 17.4209 13.7046H15.9209ZM13.7064 15.9192H6.2966V17.4192H13.7064V15.9192ZM6.2966 15.9192C5.07353 15.9192 4.08203 14.9277 4.08203 13.7046H2.58203C2.58203 15.7561 4.2451 17.4192 6.2966 17.4192V15.9192Z"
                      fill="#1B74E3"
                    />
                  </svg>
                </div>
              </a>
              <a class="footer__addition-developed">
                <span>Разработано в</span><img src="./img/MaskGroup.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </footer>